@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Movies";
}

<h1>List of Movies</h1>
<h3>Create New</h3>

<table style="width:100%">
    <tr>
        <th>Title</th>
        <th>Release Date</th>
        <th>Genre</th>
        <th>Rating</th>
        <th>Comments</th>
    </tr>
</table>

