@{
    ViewData["Title"] = "Contact Us";
}
<h2>@ViewData["Title"]</h2>


<address>
    Centennial Movies<br />
    1389 Progress Avenue<br />
    Toronto, ON, M7P 3K3<br />
    <abbr title="Phone">P:</abbr>
    6475.898.1166
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
